*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
}
h1,h2,h3,h4,h5,h6,p,ul{
	margin: 0px;
	padding: 0px;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
.container{
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
}
.FIRSTHEADER{
	width:100%;
	background-color: #3b6978;
	height: 70vh;
}
.TEXT{
	display:inline-flex;
}

.left h1{
color: #ffffff;
font-family: 'Tenali Ramakrishna', sans-serif;
font-size: 100px;
padding-top: 30px;
padding-right: 60px;
line-height: 0.9;
}
.right h4{
   color: #18b0b0;
   font-size: 20px;
   padding:20px 20px;
  }
  
.TEXT .right ul li a{
color: #ffffff;
padding:0 10px;
}
.TEXT .right ul{
list-style: none;
display:flex;
}
.TEXT .right ul li{
	margin-right: 5px;
}

.left h1:hover{
	color:#18b0b0;
}

.TEXT .right ul li a:hover{
	color:#18b0b0;
}
.BOTTOMTEXT
{
 text-align: center;
 padding:60px 30px;
 align-items: center;
}

.BOTTOMTEXT  h1{
	color:#18b0b0;
}
.BOTTOMTEXT  p{
	color:#ffff;
	font-size: 25px;
	line-height: 1.6;
}
.btn-alt {
    border: 1px solid #fff;
    padding: 20px 30px;
}
.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn:hover{
	background-color:#fff;
	color:#000;
}
.SECONDHEADER{
	background-color: #fff;
	width: 100%;
	height: 70vh;
	display: flex;
	padding-left: 100px;
	align-items: center;
	justify-content: center;
	

}
.SECONDHEADER h5{
padding-bottom: 10px;
color:gray;
padding-top: 10px;
}

.SECONDHEADER h4{
	padding-top: 10px;
	padding-bottom: 10px;
	color: gray;
	text-align: left;
	padding-right: 10px; 

}
.SECONDHEADER h4:hover{
	color:#e5e5e5;
}
.SECONDHEADER p{
	color:gray;
	font-size: 14px;
	
}
.LAST{
	background-color: #3b6978;
	width: 100%;
	display:inline-block;
	height:20vh;
	padding:20px;
	font-size: 30px;
}